
/* Forum */

.forum-container {
  max-width: 1500px;
  margin: auto;
  max-height: 2120px;
  opacity: 1.0;
}

.grid-header {
	display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(14, 20px);
  grid-column-gap: 1px;
  grid-row-gap: 1px;

}
.header {
  background-image: url('../img/marsh.png');
  background-color: #404040;
  background-size: cover;
  grid-column: 1 / -1;
  grid-row-start: 1;
  grid-row-end: span 12;
	margin-left: -10.5vw;
	margin-right: -10.5vw;
	z-index: 2;
}

.forum-logo {
	max-width: 900px; 
  grid-column-start: 1;
	grid-column-end: 51;
  grid-row-start: 1;
  grid-row-end: span 10;
  z-index: 4;
  margin-left: 0vw;
}

.forum-logo img {
	width: 100%;
}

.forum-menu-bar-bg {
  background-color: #666666;
  grid-column-start: 1;
	grid-column-end: 51;
	grid-row-start: 11;
	grid-row-end: 14;
	margin-left: -10.5vw;
	margin-right: -10.5vw;
	margin-top: -1px;
	margin-bottom: -19px;
	z-index: 3;
}

.forum-menu-bar {
  background-color: #737373;
  grid-column-start: 1;
	grid-column-end: 51;
	grid-row-start: 11;
	grid-row-end: span 2;
	margin-left: -10.5vw;
	margin-right: -10.5vw;
	margin-top: 21px;
	margin-bottom: -19px;
	z-index: 4;
}

.forum-menu {
  grid-column-start: 1;
	grid-column-end: 51;
	grid-row-start: 12;
	grid-row-end: span 2;

	margin-bottom: -10px;

	z-index: 5;
}

@media (min-width: 1500px) {
  .forum-menu {
		margin-left: 0.0vw;
  }
}


/* forum server address */

.forum-server-address {
	background-color: #999999;
  grid-column-start: 36;
	grid-column-end: 45;
	grid-row-start: 10;
	grid-row-end: 14;
	z-index: 7;
  margin-top: 12px;
  margin-left: -5px;

}

@media (max-width: 1020px) {
  .forum-server-address {
  grid-column-start: 37;
	grid-column-end: 46;
	grid-row-start: 10;
	grid-row-end: 14;
  }
}

@media (max-width: 785px) {
  .forum-server-address {
  grid-column-start: 39;
	grid-column-end: 48;
	grid-row-start: 10;
	grid-row-end: 14;
  }
}
.forum-server-address-text {
	color: black;
  font-weight: bold;
  font-size: 1.5vw;
	text-align: center;
}

@media (min-width: 1900px) {
  .forum-server-address-text {
    font-size: 40px;

  }
}

.forum-address-button {
	color: black;
  font-weight: bold;
  font-size: 1.5vw;
	text-align: center;
	background-color: #8c8c8c;
  border: 2px solid black;
}

@media (min-width: 1900px) {
  .forum-address-button {
    font-size: 40px;

  }
}

/* forum online checker */

.forum-progress {
	background-color: #373737;
  max-height: 35px;
  font-size: 2.5vw;
  grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 3;
	grid-row-end: span 1;
  padding-left: 40%; 
  padding-right: 50%; 
}

@media (min-width: 1585px) {
  .forum-progress {
    font-size: 35px;
  }
}

.forum-progress progress-bar-default {
	width: 0%;
  align: justify;

}

/* Footer */
.forum-footer {
	display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
	background-color: black;
  color: white;
	text-align: center;
	margin-left: -10.5vw;
	margin-right: -10.5vw;
}

.f-footer-text {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: span 1;
}